<script lang="ts">

</script>

<main>
  <h2>4D-Algo</h2>
  <p>Creates a dataset of all changes to an Algorand application's state. This enables the creation of custom time-series datasets from the state changes dataset.</p>
</main>

<style>

</style>